/* This file is where css selectors for the component go.
   There will be hard coded properties and properties controlled by variables, for example

   oj-hello-world .oj-hello-world-value-text {
   color: var(--oj-hello-world-value-text-color);
   display: inline-block;
	 }
*/

oj-hello-world:not(.oj-complete){
  visibility: hidden;
}

oj-hello-world{
	min-height: 50px;
	width: 50px;
}

oj-hello-world[hidden]
{
  display: none;
}